<div class="catalog-filters">
<form (submit)="filterComputers()">
    <div class="catalog-filters-price">
        <h2 class="catalog-filters--category">Filter by price:</h2>
        From: <input type="number" name="from" required/>
        To:   <input type="number" name="to"   required/>
    </div>
    <div class="catalog-filters-brand">
        <h2 class="catalog-filters--category">Filter by brand:</h2>
        <ul>
            <li *ngFor="let brand of brandNames">
                <input type="checkbox">
                {{brand}}
            </li>
        </ul>
    </div>
    <input type="submit" value="Filter"/>
</form>
</div>