<div class="image page_cart-item--image">
    <img src={{image}}/>
</div>
<div class="content">
    <a class="header page_cart-item--header" (click)="preview(item._id)">{{brand}} {{title}}</a>
    <div class="meta">
        <span class="date">{{price | currency}}</span>
    </div>
    <div class="description page_cart-item--description">
        <p>Choose the quantity of computers:</p>
    </div>
    <div class="extra content ui form page_cart-item--extra">
        <div class="page_cart-item--quantity field">
            <input type="number" (change)="changeQuantity(_id, $event.target.value)" [(ngModel)]="quantity" min="1" max="10" />
        </div>
        <div class="page_cart-item--total">Total: {{totalForItem | currency:'USD'}}</div>
    </div>
</div>
