.page_cart-item {
    margin: 30px 0;
    border-bottom: 2px #f0ad4e solid;
    padding: 20px;
    color: white;
}
.page_cart-item--image {
    max-width: 300px;
}
.page_cart-item--image img {
    max-width: 100%;
}
.page_cart-item--quantity {
    text-align: center;
}
.page_cart-item--price {
    text-align: center;
    margin-top: 10px;
    background: #f0ad4e;
    padding: 10px;
    border-radius: 3px;
}
.page_cart-item--remove {
    cursor: pointer;
}