<div class="page_cart-item flex-container flex-justify-space-around">
    <div class="page_cart-item--image">
        <img src={{item.image} alt={{item.description}}/>
    </div>
    <div class="flex-container flex-direction-column">
        <div class="page_cart-item--link" (click)="preview(_id)">{{brand}} {{title}}</div>
    <div class="page_cart-item--price">{{price}}</div>
</div>
<div class="page_cart-item--quantity">
    <input type="number" [(ngModel)]="quantity" min="1" max="10" />
</div>
<div class="page_cart-item--total">{{(price * quantity) | currency:'USD'}}</div>
<div class="page_cart-item--remove">x</div>
</div>