<div class="page_catalog">
    <h1 class="page_catalog-title">Computers catalog</h1>

    <div style="display: flex; justify-content: space-around">
        <catalog-filters></catalog-filters>
        <div class="page_catalog-list">
            <h2 *ngIf="isEmptyCatalog()">No computers in the catalog</h2>
            <div *ngIf="!isEmptyCatalog()">
                <catalog-item *ngFor="let computer of computers" [item]="computer"></catalog-item>
            </div>
        </div>
    </div>
</div>
