<nav class="navigation">
    <div class="navigation-items">
        <a class="navigation-item" routerLink="/"        routerLinkActive="navigation-item-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="navigation-item" routerLink="/catalog" routerLinkActive="navigation-item-active" [routerLinkActiveOptions]="{exact: true}">Catalog</a>
        <a class="navigation-item" routerLink="/admin"   routerLinkActive="navigation-item-active" [routerLinkActiveOptions]="{exact: true}">Admin</a>
        <!--<a class="navigation-item" routerLink="/cart"    routerLinkActive="navigation-item-active" [routerLinkActiveOptions]="{exact: true}">Cart</a>-->
    </div>
</nav>