.page_cart-title {
    text-align: center;
    padding: 15px 0;
    color: #f0ad4e;
}
.page_cart-total {
    text-align: center;
    margin-top: 25px;
}
.page_cart-total:hover {

}
shopping-cart-item{
    margin: 20px;
}