<div class="image page_catalog-list-item--image">
    <img src={{image}}/>
</div>
<div class="content">
    <a class="header page_catalog-list-item-header" (click)="preview(item._id)">{{brand}} {{title}}</a>
    <div class="meta">
        <span class="cinema page_catalog-list-item--price">{{price}} $, {{date | date}}</span>
    </div>
    <div class="description page_catalog-list-item--description">
        <p>
            {{description.split('.').shift() + "..."}}
        </p>
    </div>
    <div class="extra">
        <div class="ui label page_catalog-list-item--more" (click)="preview(item._id)">View</div>
        <div class="ui label page_catalog-list-item--add"  (click)="addToCart(item._id)">Buy</div>
    </div>
</div>